.balance {
    display: flex;
    min-height: 25px;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgba(59, 40, 236, 0.1);

    transition: width 10s;
    
    .outbound {
        transition: 1s ease;
        width: 1%;
        background-color: rgba(241, 85, 85, 0.534);
    }
    
}