.channel {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    height: 90px;

    .alias {
        width: 100%;
        margin: 0;
        text-align: right;
    }

    .capacity {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        .value {
            display: inline-block;
            margin: 0;
        }
    }
}