@keyframes fadeIn {
    from { 
        opacity: 0;
    }
    to { 
        opacity: 1;
    }
}

.channel {
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    height: 90px;
    border-radius: 6px;
    overflow: hidden;

    transition: all 0.1s;

    margin: 0.5em 0;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        cursor: pointer;
    }

    &:active {
        box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    }

    &.not-candidate {
        display: block;
        background-color: grey;
        opacity: 0.4;

        &:hover {
            box-shadow: none;
            cursor: not-allowed;
        }
    }

    .alias {
        width: 100%;
        margin: 0;
        text-align: right;
        display: flex;
        justify-content: space-between;
    }

    .capacity {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        .value {
            display: inline-block;
            margin: 0;
        }

    }
    
    .notification {
        animation: fadeIn 2s;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }
}