.rebalance {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .specific-amount {
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        
        input {
            text-align: right;
        }
    }

    .messages {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 80%;
        margin: 0 auto;
        border-radius: 6px;

        max-height: 450px;
        overflow-y: auto;

        background: linear-gradient(90deg, gray 0%, #2d2c2c 100%);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        color: white;
        font-family: monospace;

        p {
            margin: 10px;
            text-align: center;
        }
    }

    .rebalance-button {
        width: 100px;
        height: 40px;
        margin: 0 auto;
        margin-top: 18px;
    }
}